*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 280px;
    height: 100px;
    width: 100%;
}
.navbar img{
    height: 150px;
    width: 150px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: #1C6675;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    

    &:hover{
        color: #1C6675;
        
    }
    &::after{
        content:"";
        width: 0px;
        position: absolute;
        left: 0;
        height: 0;
        bottom: -5px;
        transition: width 0.3s ease;
    }
    &:hover::after{
        height: 2px;
        background-color: #1C6675;
        width: 100%;
    }
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login i{
    font-size: 30px;
    color: #1C6675;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-color: #1C6675;
    width: 80%;
    height: 300px;
    border-radius: 20px;
}


.search{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}
.search h2{
    color: #ffffff;
    font-size: 40px;
}


.search-bar {
    position: relative;
}

.search-bar input {
    padding: 10px 40px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}


.container img{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    object-fit: cover;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content img{
    height: 600px;
    width: 650px;
}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(238, 238, 238, 0.5);
    gap: 10px;
    padding: 10px;
}
.item img{
    height: 400px;
    width: 400px;
}
.item p{
    font-size: 20px;
    color: #1C6675;
}
.item:hover{
    background-color: rgba(205, 205, 205, 0.5);
}
.item button{
    height: 40px;
    width: 100px;
    background-color: #1C6675;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.about h1{
    font-size: 60px;
    color: rgb(47, 134, 156);
}
.about p{
    line-height: 25px;
    width: 520px;
    text-align: justify;
    font-size: 15px;
    color: #1C6675;
}
.about_us{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;

}
.about_us p{
    text-align: justify;
    line-height: 20px;
    font-size: 20px;
}
.about_us img{
    height: 500px;
    width: 500px;
}
.contact{
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.contact_us{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.address_btn{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.address_btn button{
    height: 50px;
    width: 300px;
    color: #1C6675;
    background-color: #ffffff;
    border: 1px solid #1C6675;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center; 
    gap: 10px;
    padding: 10px;
}
form{
    margin-top: 180px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}
form input{
    height: 30px;
    width: 355px;
    border: 1px solid #1C6675;
    padding: 10px;
    border-radius: 10px;
}
.name input{
    height: 30px;
    width: 165px;
    border: 1px solid #1C6675;
    padding: 10px;
    border-radius: 10px;
}
form button{
    height: 50px;
    width: 300px;
    color: #ffffff;
    background-color: #1C6675;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C6675;
}