*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    background-color: #1C6675;
    height: 100px;
    width: 100%;
}
.navbar img{
    height: 150px;
    width: 150px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}
.search i{
    font-size: 20px;
    color: aliceblue;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: #1C6675;
    background: linear-gradient(90deg, rgba(250,249,255,1) 0%, rgba(28,102,117,1) 100%);
}
.login i{
    font-size: 30px;
    color: aliceblue;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}
.about h1{
    font-size: 60px;
    color: rgb(47, 134, 156);
}
.about p{
    line-height: 25px;
    width: 520px;
    text-align: justify;
    font-size: 15px;
    color: #1C6675;
}
.about button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid#1C6675;
    background-color: rgb(255, 255, 255);
    color: #1C6675;
    cursor: pointer;
}
.about button:hover{
        color: white;
        background-color: #1C6675;
        border: 1px solid white;
        transition: all ease-in-out 0.3s;
    }

.content img{
    height: 600px;
    width: 650px;
}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(238, 238, 238, 0.5);
    gap: 10px;
    padding: 10px;
}
.item img{
    height: 400px;
    width: 400px;
}
.item p{
    font-size: 20px;
    color: #1C6675;
}
.item:hover{
    background-color: rgba(205, 205, 205, 0.5);
}
